{% extends 'base/main.html' %}

{% load static %}

{% block content %}

    <!-- //header -->
<!-- products-breadcrumb -->
	<div class="products-breadcrumb">
		<div class="container">
			<ul>
				<li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>|</span></li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
<!-- //products-breadcrumb -->
<!-- banner -->
	<div class="banner">
		{% include 'base/navbar-left-menu.html' %}
		<div class="w3l_banner_nav_right">
<!-- about -->
		<div class="privacy about">
			<h3>About Us</h3>
			{% for about in about_infos %}
			<p class="animi">{{about.information}}</p>
			<div class="agile_about_grids">
				<div class="col-md-6 agile_about_grid_right">
					<img src="{{about.about_img.url}}" alt=" " class="img-responsive" />
				</div>
				<div class="col-md-6 agile_about_grid_left">
					<ol>
						{% for list_infos in about.about_us.all %}
						<li>{{list_infos.list_info}}</li>
						{% endfor %}
					</ol>
				</div>
				<div class="clearfix"> </div>
			</div>
			{% endfor %}
		</div>
<!-- //about -->
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner -->
<!-- team -->

<!-- //team -->
<!-- testimonials -->
	<div class="testimonials">
		<div class="container">
			<h3>Testimonials</h3>
				<div class="w3_testimonials_grids">
					<div class="wmuSlider example1 animated wow slideInUp" data-wow-delay=".5s">
						<div class="wmuSliderWrapper">
							{% for testimonial in testimonials %}
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									{% for test in testimonial.about_testimonial.all %}
									<div class="col-md-6 w3_testimonials_grid">
										<p><i class="fa fa-quote-right" aria-hidden="true"></i>{{test.testimonials_text}}.</p>
										<h4>{{test.testimonial_Writter}} <span>{{test.testimonial_Writter_category}}</span></h4>
									</div>
									{% endfor %}
									<div class="clearfix"> </div>
								</div>
							</article>
							{% endfor %}
							
						</div>
					</div>
					<script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
					<script>
						$('.example1').wmuSlider();         
					</script> 
				</div>
		</div>
	</div>

{% endblock content %}



