{% extends 'base/main.html' %}

{% load static %}

{% block content %}
<div class="banner">
    {% include 'base/navbar-left-menu.html' %}
    <div class="w3l_banner_nav_right">
        {% include 'alert/alert.html' %}
        <section class="slider">
            <div class="flexslider">
                <ul class="slides">
                    {% for slider in sliders %}
                    <li>
                        <div class="w3l_banner_nav_right_banner{{slider.img_slide_code}}">
                            <h3>{{slider.title_1}} <i><span>{{slider.title_2}}</span></i> {{slider.title_3}}.</h3>
                            <div class="more">
                                <a href="/items/{{slider.url_button_link}}?category_name=All Products" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <!-- flexSlider -->
            <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" property="" />
            <script defer src="{% static 'js/jquery.flexslider.js' %}"></script>
            <script type="text/javascript">
            $(window).load(function(){
              $('.flexslider').flexslider({
                animation: "slide",
                start: function(slider){
                  $('body').removeClass('loading');
                }
              });
            });
          </script>
        <!-- //flexSlider -->
    </div>
    <div class="clearfix"></div>
</div>
<!-- banner -->
<div class="banner_bottom">
        <div class="wthree_banner_bottom_left_grid_sub">
        </div>
        <div class="wthree_banner_bottom_left_grid_sub1">
            {% for hmb in homemiddlebanner %}
            <div class="col-md-4 wthree_banner_bottom_left">
                <div class="wthree_banner_bottom_left_grid">
                    <img src="{% static 'images/' %}{{hmb.img_name}}" alt=" " class="img-responsive" />
                    <div class="{{hmb.div_class_tag}}">
                        <h{{hmb.h_tag}}>{% if hmb.title_1 != None %}{{hmb.title_1}}{% endif %} <span>{% if hmb.title_2 != None %}{{hmb.title_2}}{% endif %}</span>{% if hmb.title_3 != None %} {{hmb.title_3}} {% endif %} <i>{% if hmb.i_tag_title_4 != None %}{{hmb.i_tag_title_4}} {% endif %}</i></h>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="clearfix"> </div>
        </div>
        <div class="clearfix"> </div>
</div>
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>

    {% include 'products/hot-products.html' %}

    {% include 'products/top-products.html' %}

{% endblock content %}