{% extends 'base/main.html' %}
{% load static %}

{% block content %}
<!-- products-breadcrumb -->
<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="index.html">Home</a><span>|</span></li>
            <li>Branded Foods</li>
        </ul>
    </div>
</div>
<!-- //products-breadcrumb -->
<!-- banner -->
<div class="banner">
    {% include 'base/navbar-left-menu.html' %}
    <div class="w3l_banner_nav_right">
        <div class="w3l_banner_nav_right_banner3">
            <h3>Best Deals For New Products<span class="blink_me"></span></h3>
        </div>
        <div class="w3l_banner_nav_right_banner3_btm">
            <div class="clearfix"> </div>
        </div>
        <div class="w3ls_w3l_banner_nav_right_grid">
            {% if get_category_name %}
            <h3>{{get_category_name}}</h3>
            {% else %}
            <h3>{{get_subcategory}}</h3>
            {% endif %}
            <div class="w3ls_w3l_banner_nav_right_grid1">
                {% for cateitem in category_items %}
                <!-- {% for tag in tags %} -->
                    <h6>{{cateitem.tags.innerTag}}</h6>
                <!-- {% endfor %} -->
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="{% url 'product-view' %}"><img src="{% static 'images/5.png' %}" alt=" " class="img-responsive" /></a>
                                            <p>{{cateitem.product_title}}</p>
                                            <h4>INR {{cateitem.product_discounted_price}} <span>INR {{cateitem.product_selling_price}}</span></h4>
                                        </div>
                                        <div class="snipcart-details">
                                            <form action="#" method="post">
                                                {% csrf_token %}
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for subcateitem in sub_category_items %}
                <div class="col-md-3 w3ls_w3l_banner_left">
                    <div class="hover14 column">
                        <div class="agile_top_brand_left_grid w3l_agile_top_brand_left_grid">
                            <div class="agile_top_brand_left_grid_pos">
                                <img src="{% static 'images/offer.png' %}" alt=" " class="img-responsive" />
                            </div>
                            <div class="agile_top_brand_left_grid1">
                                <figure>
                                    <div class="snipcart-item block">
                                        <div class="snipcart-thumb">
                                            <a href="{% url 'product-view' %}"><img src="{% static 'images/5.png' %}" alt=" " class="img-responsive" /></a>
                                            <p>{{subcateitem.product_title}}</p>
                                            <h4>$3.00 <span>$5.00</span></h4>
                                        </div>
                                        <div class="snipcart-details">
                                            <form action="#" method="post">
                                                {% csrf_token %}
                                                    <input type="submit" name="submit" value="Add to cart" class="button" />
                                            </form>
                                        </div>
                                    </div>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<!-- //banner -->

<!-- //footer -->
<!-- Bootstrap Core JavaScript -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){
$(".dropdown").hover(            
    function() {
        $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
        $(this).toggleClass('open');        
    },
    function() {
        $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
        $(this).toggleClass('open');       
    }
);
});
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function() {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear' 
            };
        */
                            
        $().UItoTop({ easingType: 'easeOutQuart' });
                            
        });
</script>

<script>


</script>
{% endblock content %}