{% extends 'base/main.html' %}

{% load static %}

{% block content %}


<div class="products-breadcrumb">
    <div class="container">
        <ul>
            <li><i class="fa fa-home" aria-hidden="true"></i><a href="/">Home</a><span>|</span></li>
            <li>Checkout</li>
        </ul>
    </div>
</div>


<div class="banner">
    {% include 'base/navbar-left-menu.html' %}
    <div class="w3l_banner_nav_right">
        <div class="w3l_banner_nav_right_banner3_btm">
            <div class="clearfix"> </div>
            {% include 'base/alert.html' %}
        </div>
        <div class="w3ls_w3l_banner_nav_right_grid">
            <h3>Profile</h3>
            {% if request.user.avatar %}
                <div class="text-center profile-img">
                    <img src="{{request.user.avatar.url}}" alt="..." class="img-circle" width="140" height="140">
                </div>  
            {% else %}
                <div class="text-center profile-img">
                    <img src="{% static 'images/profileimage.png' %}" alt="..." class="img-circle" width="140" height="140">
                </div> 
            {% endif %}
            <div class="text-center profile-username">
                <span>Username: {{request.user.user_name}}</span>
            </div>
            <div class="text-center profile-email">
                <span>Email: {{request.user}}</span>
            </div>
            
            <div class="info">
                {% for customerinfo in customer %}
                <div class="col-md-4">
                    <div class="text-center profile-userinfo">
                        <div>
                            <a href="{% url 'edit-profile' customerinfo.id %}" class="btn btn-warning btn-sm" id="edit_" type="button">Edit</a>
                            <a href="{% url 'delete-profile' customerinfo.id %}" class="btn btn-danger btn-sm" type="button">Delete</a>
                        </div>
                        <span>First Name: {{customerinfo.first_name}}</span><br>
                        <span>Last Name:  {{customerinfo.last_name}}</span><br>
                        <span>Gender: {{customerinfo.gender}}</span><br>
                        <span>Country: {{customerinfo.country}}</span><br>
                        <span>Phone: {{customerinfo.phone}}</span><br>
                        <span>Address: {{customerinfo.address}}</span><br>
                        <span>City: {{customerinfo.city}}</span><br>
                        <span>State: {{customerinfo.state}}</span><br>
                        <span>Pincode: {{customerinfo.pincode}}</span><br>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div class="text-center button-add-user">
                <a href="{% url 'add-profile' %}" class="btn btn-success btn-lg" type="button">Add Information</a>
            </div>
            
            
        </div>

    </div>
</div>
    <div class="clearfix"></div>
</div>



<style>
    body {
        background: rgb(255, 255, 255)
    }

    .txt{
        padding-top: 5em;
    }

    .form-group label {
        margin-bottom: 5px; 
        display: block;
    }

    .form-group input {
        margin-bottom: 10px;
    }

    .form-container{
        max-width: 600px;
        margin:auto;
    }

    .profile-img{
        margin-top: 3em;
    }

    .profile-img .img-circle{
        border-radius: 140px 140px 140px 140px;
        -moz-border-radius: 140px 140px 140px 140px;
        -webkit-border-radius: 140px 140px 140px 140px;
        border: 5px solid #000000;
    }

    .profile-username{
        margin-top: 1em;
    }
    .profile-username span{
        font-weight:900;
    }

    .profile-email{
        margin-top: 0.5em;
    }

    .profile-email span{
        font-weight:600;
    }

    .profile-userinfo{
        margin-top: 1em;
    }

    .info{
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

    .info span {
        font-weight:600;
    }

    .button-add-user{
        margin-top: 1em;
    }

    .button-add-user a:hover{
        background-color: rgb(0, 95, 63);
        transition: 0.2s;
        transition-delay: 0.2s;
    }


</style>


{% endblock content %}