
{% load static %}

{% block content %}

<div class="fresh-vegetables">
    <div class="container">
        <h3>Top Products</h3>
        <div class="w3l_fresh_vegetables_grids">
            <div class="col-md-3 w3l_fresh_vegetables_grid w3l_fresh_vegetables_grid_left">
                <div class="w3l_fresh_vegetables_grid2">
                    {% for category in categories %}
                    {% if category.sub_categories.all %}

                    {% for subcategory in category.sub_categories.all %}
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a href="{% url 'productslugsubcategory' subcategory.slug  %}?subcategory_name={{subcategory.subcategory_name}}">{{subcategory.subcategory_name}}</a></li> 
                    </ul>
                    {% endfor %}
                    {% else %}
                    <ul>
                        <li><i class="fa fa-check" aria-hidden="true"></i><a href="{% url 'productslugcategory' category.slug %}?category_name={{category.category_name}}">{{category.category_name}}</a></li>
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-9 w3l_fresh_vegetables_grid_right">
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="{% static 'images/8.jpg' %}" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <div class="w3l_fresh_vegetables_grid1_rel">
                            <img src="{% static 'images/7.jpg' %}" alt=" " class="img-responsive" />
                            <div class="w3l_fresh_vegetables_grid1_rel_pos">
                                <div class="more m1">
                                    <a href="products.html" class="button--saqui button--round-l button--text-thick" data-text="Shop now">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="{% static 'images/10.jpg' %}" alt=" " class="img-responsive" />
                        <div class="w3l_fresh_vegetables_grid1_bottom_pos">
                            <h5>Special Offers</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 w3l_fresh_vegetables_grid">
                    <div class="w3l_fresh_vegetables_grid1">
                        <img src="{% static 'images/9.jpg' %}" alt=" " class="img-responsive" />
                    </div>
                    <div class="w3l_fresh_vegetables_grid1_bottom">
                        <img src="{% static 'images/11.jpg' %}" alt=" " class="img-responsive" />
                    </div>
                </div>
                <div class="clearfix"> </div>
                <div class="agileinfo_move_text">
                    <div class="agileinfo_marquee">
                        <h4>get <span class="blink_me">25% off</span> on first order and also get gift voucher</h4>
                    </div>
                    <div class="agileinfo_breaking_news">
                        <span> </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

{% endblock content %}